<div class="container">    
    <div class="row">
        <h1>Meet the band</h1> 
        <div class="col-sm-3">
            <h3>A touch of Jazz</h3>
                <div>
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/me.jpg"></a>
                </div>
                
                <div class="iconcircle col-sm-4 col-lg-offset-4 text-center">
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/piano.png"></a>\n
                </div>

                <div class="col-sm-12">
                    <h5>Matthew "the handgrenada" McHenry</h5>
                    <p>Matt joined the band in August 2013, he's a wiz on the piano and alround musical maestro!</p>
                </div>
            </div>
        <div class="col-sm-3">          
            <h3>Jazz along with me</h3>
                <div>
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/me2.jpg"></a>
                </div>
                <div class="iconcircle col-sm-4 col-lg-offset-4 text-center vcenter">
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/music.png"></a>\n
                </div>

                <div class="col-sm-12">
                    <h5>Matthew "the handgrenada" McHenry</h5>
                    <p>Matt joined the band in August 2013, he's a wiz on the piano and alround musical maestro!</p>
                </div>
        </div>
        <div class="col-sm-3">
            <h3>Swing on by</h3>
                <div>
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/me3.jpg"></a>
                </div>
                <div class="iconcircle col-sm-4 col-lg-offset-4 text-center">
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/jazz-saxophone.png"></a>\n
                </div>

                <div class="col-sm-12">
                    <h5>Matthew "the handgrenada" McHenry</h5>
                    <p>Matt joined the band in August 2013, he's a wiz on the piano and alround musical maestro!</p>
                </div>
        </div>
        <div class="col-sm-3">
            <h3>Swing swing swing</h3>
                <div>
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/me4.jpg"></a>
                </div>
                <div class="iconcircle col-sm-4 col-lg-offset-4 text-center">
                    <a href="#!/ourmusic"><img class="img-responsive imagecircle" src="/images/trombone.png"></a>\n
                </div>

                <div class="col-sm-12">
                    <h5>Matthew "the handgrenada" McHenry</h5>
                    <p>Matt joined the band in August 2013, he's a wiz on the piano and alround musical maestro!</p>
                </div>
        </div>
    </div>
</div>